.paragraphs-pagination-wrapper {
  position: relative;
}

.paragraphs-pagination-wrapper .loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(255,255,255,0.7);
}

.paragraphs-pagination-wrapper .loader {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.paragraphs-pagination-wrapper .loader__animation {
  background: url('/misc/throbber-active.gif') center no-repeat;
  display: inline-block;
  height: 15px;
  width: 15px;

}

.paragraphs-pagination-wrapper .loader__message {
  color: #000;

}

.paragraphs-pagination-wrapper .ajax-progress {
  display: none;
}

.paragraphs-pagination-wrapper .ajax-progress-throbber {
  display: none;
}
